
\.idea/
\out/

fireplug\.iml

global/config/hosts.config
local0/config/hosts.config
local1/config/hosts.config
local2/config/hosts.config
local3/config/hosts.config

Neo4jDB0/
Neo4jDB1/
Neo4jDB2/
Neo4jDB3/
Neo4jDB4/
Neo4jDB5/
